<header class="max-wdth">
    <div class="desktop-nav">
        <a routerLink="/"><img (click)="goDown('header')" src="assets/phil_logo.png"></a>
        <div *ngIf="router.url == '/'">
            <a (click)="goDown('about-me')">About me</a>
            <a (click)="goDown('skills')">Skills</a>
            <a (click)="goDown('projects')">Projects</a>
            <a (click)="goDown('contact')">Contact</a>
        </div>
    </div>

    <div class="mobile-nav">
        <div class="header-nav">
            <a routerLink="/"><img (click)="goDown('header')" src="assets/phil_logo.png"></a>
            <img *ngIf="router.url == '/'" class="burger-menu" src="assets/icons/menu.ico" (click)="openMenu()">
        </div>

        <div *ngIf="router.url == '/'" class="mobile-links" #myLinks>
            <a (click)="goDown('about-me')">About me</a>
            <a (click)="goDown('skills')">Skills</a>
            <a (click)="goDown('projects')">Projects</a>
            <a (click)="goDown('contact')">Contact</a>
        </div>
    </div>

</header>