header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141D2F;

    img {
        height: 70px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;
        font-size: 24px;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: #4B47FF;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: #00BEE8;
            border-bottom: solid 3px;
            border-bottom: #4B47FF;
            transition: all 125ms ease-in-out;
            cursor: pointer;
        }
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-nav  {
        display: none;
    }

    .mobile-links {
        display: none;
    }

    @media(max-width: 860px) {
        
    }

    @media(max-width: 660px) {
        position: fixed;
        background-color: #141D2F;
        z-index: 5;
        height: auto;
        padding: 10px 10px;

        .header-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .desktop-nav {
            display: none;
        }

        .mobile-links {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 20px;

            a {
                margin-left: 0;
            }
        }

        .mobile-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            flex-direction: column;

            .burger-menu {
                height: 48px;
            }
        }
    }
}



