header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

    img {
        height: 70px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;
        font-size: 24px;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: #4B47FF;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: #00BEE8;
            border-bottom: solid 3px;
            border-bottom: #4B47FF;
            transition: all 125ms ease-in-out;
            cursor: pointer;
        }
    }
}