<hr>
<div class="footer-container max-wdth">
    <div class="impress">
        <img src="assets/phil_logo.png">
        <a routerLink="/imprint">Impressum</a>
    </div>
    <div class="copyright">
        <span>&copy;</span>
        <span>Philipp Mössl 2023</span>
    </div>
    <div class="social-buttons">
        <img (click)="openLink('https://github.com/Philzore')" src="assets/icons/github.svg">
        <a href="mailto:pmoessl@outlook.de"><img src="assets/icons/mail.svg"></a>
        <img (click)="openLink('https://www.linkedin.com/in/philipp-m%C3%B6ssl-2b6567291/?trk=public-profile-join-page')" src="assets/icons/linkedin.svg">
    </div>
</div>
