.above-aboutme {
    display: flex;
    justify-content: space-between;
    background-color: #141D2F;

    .social-buttons {
        display: flex;
        align-items: center;
        gap: 30px;

        hr {
            margin: 0;
            width: 100px;
            height: 4px;
            background-color: #00BEE8;
            border: none;
            border-radius: 4px;
        }

        a{
            text-decoration: none;
            height: 30px;
        }

    }

    .arrow-down {
        height: 64px;
        margin-right: 20px;

        @media (max-width:380px) {
            display: none;
        }
    }

    img {
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            scale: 1.2;
        }
    }
}



.about-me-section {
    background-color: #141D2F;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    @media (max-width:1065px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.about-me-text {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    width: 100%;

    h2 {
        font-size: 90px;
        color: white;
        margin: 0;

        @media (max-width: 450px) {
            font-size: 64px;
        }
    }

    hr {
        display: none;
    }

    p {
        color: white;
    }

    img {
        margin-right: 20px;
        padding-left: 20px;
    }

    @media (max-width:1050px) {
        margin-left: 0;
        padding: 10px;

        hr {
            display: flex;
            width: 3000px;
            height: 4px;
            background-color: #1CE6B6;
            border: none;
            border-radius: 4px;
            position: relative;
            left: -100%;
        }

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media (max-width:1050px) {
        h2 {
            margin: 0;
        }
    }
}



.d-flex {
    display: flex;
}

.profile-img {
    position: relative;



    .profile {
        position: absolute;
        height: 800px;
        right: -50px;
        bottom: 0px;

        @media (max-width:1435px) {
            bottom: 0;
            height: 600px;

        }

    }

    .shadow {

        @media (max-width:1435px) {
            width: 600px;
            position: absolute;
            right: 0;
            bottom: 100px;
        }

        @media (max-width:1065px) {
            position: initial;
        }
    }


}