<div data-aos="fade-right" class="above-aboutme">
    <div class="social-buttons">
        <hr>
        <img (click)="openLink('https://github.com/Philzore')" src="assets/icons/github.svg">
        <a href="mailto:pmoessl@outlook.de"><img  src="assets/icons/mail.svg"></a>
        <img (click)="openLink('https://www.linkedin.com/in/philipp-m%C3%B6ssl-2b6567291/')" src="assets/icons/linkedin.svg">
    </div>
    <div>
        <img (click)="goToAnchor('contact')" class="arrow-down" src="assets/icons/arrow_down.ico">
    </div>
</div>

<div data-aos="zoom-in" class="about-me-section max-wdth">
    <div class="about-me-text">
        <div>
            <h2>About me</h2>
            <hr>
        </div>
        <p>Hi, I am a junior Front-End developer based in Neugersdorf, Germany. I have gained experience in developing
            Web
            and Mobile applications with Angular and Javascript. Since i´am a Robot programer i have always
            been fascinated in IT and especially programming. So I used the chance in Developer Akademie to dive into
            new
            projects and challanges. Now my enthusiasm turned into a passion. </p>
        <div class="d-flex">
            <img src="assets/icons/bulb.svg">
            <p>I am ready to take the next step in my career and find a position as a Junior Web Developer which allows
                me to collaborate with team and improve my programming skills. I look forward the opportunity of
                contributing my technical knowledge to solve problems and help people and businesses with user-friendly
                and visually pleasing products. </p>
        </div>
        <div class="d-flex">
            <img src="assets/icons/puzzle.svg">
            <p>If you think I could be a good addition to your projects and team, I would be very glad to talk. Let's
                discuss how we can work together effectively for your web solution. Don't hesitate to get in touch!</p>
        </div>
    </div>
    <div class="profile-img">
        <img class="shadow" src="assets/shadows/shadow_9.png">
        <img class="profile" src="assets/profile/profile_2.png">
    </div>
</div>