.social-buttons {
    background-color: #141D2F;
    display: flex;
    align-items: center;
    gap: 30px;

    hr {
        margin: 0;
        width: 100px;
        height: 4px;
        background-color: #00BEE8;
        border: none;
        border-radius: 4px;
    }

    img {
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            scale: 1.2;
        }
    }
}

.about-me-section {
    background-color: #141D2F;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    margin-left: 50px;

    h2 {
        font-size: 90px;
        color: white;
    }

    p {
        color: white;
    }

    img {
        margin-right: 20px;
    }
}

.vector {
    width: 100%;
}

.d-flex {
    display: flex;
}

.profile-img {
    position: relative;

    .profile {
        position: absolute;
        height: 600px;
        right: 100px;
        bottom: 180px;
    }
}