<div class="contact-container max-wdth" id="contact">
    <img class="shadow" src="/assets/shadows/shadow_5.png">
    <div class="contact-header">
        <h2>Contact</h2>
        <hr>
    </div>
    <div class="contact-context">
        <div data-aos="fade-right" class="problem-section">
            <div class="problem-header">
                <hr>
                <h3>Got a problem to solve?</h3>
            </div>
            <p>Contact me through this form, i am interested in hearing <br>
                you, knowing your ideas and contributing to your projects <br>
                with my work.</p>
            <p>Need a Frontend developer?<b>Contact me!</b></p>
        </div>
        <div data-aos="fade-left">
            <form (ngSubmit)="sendMail()" method="post" class="form-section" autocomplete="off" ngNativeValidate #myForm>
                <!-- Name Input -->
                <div class="input-section">
                    <input autocomplete="off" id="name" [class.success]="sentSuccess" [class.sent-error]="nameError" name="name" placeholder="Your name" #nameField>
                    <div class="form-error">{{nameErrorMsg}}</div>
                </div>
                <!-- Mail Input -->
                <div class="input-section">
                    <input autocomplete="off" [class.success]="sentSuccess" [class.sent-error]="mailError" type="text" name="message" placeholder="Your email" #mailField>
                    <div class="form-error">{{mailErrorMsg}}</div>
                </div>
                <!-- Message Input -->
                <div class="input-section">
                    <textarea [class.success]="sentSuccess" [class.sent-error]="messageError" placeholder="Your message" #messageField></textarea>
                    <div class="form-error">{{messageErrorMsg}}</div>
                </div>
                <!-- Policy Checkbox -->
                <div class="policy-content">
                    <div class="check-privacy">
                        <input autocomplete="off" class="checkbox" type="checkbox" #policyCheckbox>
                        <div class="privacy-text">
                            <span>I´ve read the</span>
                            <span class="purple"> privacy policy </span>
                            <span>and agree to the processing of my data as outlined.</span>
                        </div>
                    </div>
                    <div [class.sent-ok]="sentSuccess" class="form-error">{{privacyErrorMsg}}</div>
                </div>
                <button class="btn-send" type="submit" #sendButton>Send message :)</button> 
                <img (click)="goToAnchor('welcome')" class="arrow-up" src="assets/icons/arrow_up.ico">
            </form>
        </div>
    </div>


</div>