.contact-container {
    background-color: #141D2F;
    position: relative;

    .shadow {
        position: absolute;
        right: -200px;
        bottom: -170px;
        height: 500px;
        overflow: hidden;
    }
}

.contact-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;

    h2 {
        margin: 0;
        color: white;
        font-size: 90px;
    }

    hr {
        width: 500px;
        height: 4px;
        background-color: #00BEE8;
        border: none;
        border-radius: 4px;
        margin: 0;
    }

    @media (max-width:850px) {
        flex-direction: column;
        margin-bottom: 20px;

        hr {
            width: 100%;
        }
    }
}


.contact-context {
    display: flex;
    justify-content: space-between;

    @media (max-width:800px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .problem-section {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        z-index: 1;

        .problem-header {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width:800px) {
                flex-direction: column-reverse;
            }

            h3 {
                font-size: 32px;
                margin: 0;
            }

            hr {
                width: 50px;
                height: 4px;
                background-color: #1CE6B6;
                border: none;
                border-radius: 4px;
                margin: 0;
            }
        }

        p {
            margin-left: 60px;

            @media (max-width:800px) {
                margin-left: 0;
            }
        }
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin-right: 50px;

        @media (max-width:800px) {
            margin-right: 0;
        }


        input,
        textarea {
            color: white;
            padding: 15px 25px;
            border-radius: 10px;
            border: solid 1px;
            border-color: #4B47FF;
            background-color: #141D2F !important;
            min-width: 600px;
            font-size: 16px;
            font-family: "Poppins", sans-serif;

            &:hover {
                border-color: #1CE6B6;
                cursor: pointer;
            }

            @media (max-width:1180px) {
                min-width: 300px;
            }
        }

        textarea {
            min-height: 200px;
            z-index: 1;
            position: relative;
        }

        .purple {
            color: #4B47FF;
        }

        .checkbox {
            accent-color: #00BEE8;
            width: 24px;
            min-width: 0 !important;


            &::before {
                // background-color: #141D2F;
                color: transparent;
            }
        }

        span {
            color: white;
        }

        .check-privacy {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
        }

        .privacy-text {
            @media (max-width:1180px) {
                max-width: 300px;
            }
        }

        .btn-send {
            padding: 15px 30px;
            background-color: #00BEE8;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            font-size: 24px;
            transition: all 125ms ease-in-out;
            width: 250px;
            margin-bottom: 50px;
            position: relative;

            &:hover {
                background-color: #4B47FF;
                scale: 1.1;
            }
        }
    }

    .success {
        border-color: #70E61C !important;
        background-image: url('../../assets/icons/form_ok.png');
        background-repeat: no-repeat;
        background-position: right;

        textarea {
            background-position: top;
        }
    }

    .ng-invalid:not(form) {
        border-color: red !important;
    }
}