<div class="portfolio-container" id="projects">
    <div class="portfolio-text-container">
        <div class="portfolio-header">
            <hr>
            <h2>Portfolio</h2>
        </div>
        <p>This page is a sample of my work! Scroll down to view other<br>
            projects i have developed.</p>
    </div>
    <div class="project-container">
        <div class="filter-links">
            <a href="">All</a>
            <a href="">Angular</a>
            <a href="">JavaScript</a>
        </div>
        <div class="projects">
            <div *ngFor="let currentProject of projects" class="single-project">
                <img src="{{  currentProject['img'] }}">
                <div class="mouse-over-dialog">
                    <div class="project-btns">
                        <button (click)="openLink(currentProject['githubLink'])" class="btn-github">Github</button>
                        <button (click)="openLink(currentProject['liveLink'])" class="btn-live-test">Live Test</button>
                    </div>
                    <div class="project-info">
                        <h4>{{ currentProject['name'] }}</h4>
                        <p>{{ currentProject['description'] }}</p>
                        <span>{{ currentProject['languages'] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <img class="shadow-right" src="assets/shadows/shadow_1.png">
        <img class="shadow-left" src="assets/shadows/shadow_2.png">
    </div>
</div>
<!-- <div class="vector-bg">
    <img class="vector" src="/assets/shadows/vector.png">
</div> -->