.portfolio-container {
    display: flex;
    flex-direction: column;

    background-color: #141D2F;
    margin-top: -120px;
    padding-top: 200px;
}


.portfolio-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .portfolio-header {
        display: flex;
        align-items: center;

        hr {
            width: 50px;
            height: 4px;
            background-color: #4B47FF;
            border: none;
            border-radius: 4px;
            margin: 0;
        }
    }

    h2 {
        color: white;
        font-size: 90px;
        margin: 0;
    }

    p {
        color: white;
        font-size: 16px;
        padding-left: 50px;
    }
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line-1,.line-2 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

    .projects {
        
    }

    .filter-links {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            display: inline-block;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background: #4B47FF;
                transition: width .3s;
            }
    
            &:hover::after {
                width: 100%;
            }
    
            &:hover {
                color: #00BEE8;
                border-bottom: solid 3px;
                border-bottom: #4B47FF;
                transition: all 125ms ease-in-out;
            }
        }
    }
}