<div data-aos="zoom-in" class="portfolio-container max-wdth" id="projects">
    <div class="portfolio-text-container">
        <div class="portfolio-header">
            <hr>
            <h2>Portfolio</h2>
        </div>
        <p>This page is a sample of my work! Scroll down to view other<br>
            projects i have developed.</p>
    </div>
    <div class="project-container">
        <div class="filter-links">
            <a (click)="filterProject('all')">All</a>
            <a (click)="filterProject('Angular')">Angular</a>
            <a (click)="filterProject('JavaScript')">JavaScript</a>
            <a (click)="filterProject('Django')">Django</a>
        </div>
        <div class="projects">
            <div *ngFor="let currentProject of projects; let i = index" class="single-project" id='project{{i}}' >
                <img src="{{  currentProject['img'] }}">
                <div class="mouse-over-dialog">
                    <div class="project-btns">
                        <div *ngIf="currentProject['githubLink'].length == 2" class="project-btns-two-links">
                            <button *ngIf="currentProject['githubLink'].length == 2" (click)="openLink(currentProject['githubLink'][0])" class="btn-github">Backend</button>
                            <button *ngIf="currentProject['githubLink'].length == 2" (click)="openLink(currentProject['githubLink'][1])" class="btn-github">Frontend</button>
                        </div>
                        <button *ngIf="currentProject['githubLink'].length == 1" (click)="openLink(currentProject.githubLink[0])" class="btn-github">Github</button>
                        <button (click)="openLink(currentProject['liveLink'])" class="btn-live-test">Live Test</button>
                    </div>
                    <div class="project-info">
                        <h4>{{ currentProject['name'] }}</h4>
                        <p>{{ currentProject['description'] }}</p>
                        <span>{{ currentProject['languages'] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <img class="shadow-right" src="assets/shadows/shadow_1.png">
        <img class="shadow-left" src="assets/shadows/shadow_2.png">
    </div>
</div>
