.portfolio-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #141D2F;
    margin-top: -90px;
    padding-top: 200px;
}


.portfolio-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .portfolio-header {
        display: flex;
        align-items: center;
        position: relative;

        hr {
            width: 5000px;
            height: 4px;
            background-color: #4B47FF;
            border: none;
            border-radius: 4px;
            margin: 0;
            position: absolute;
            left: -5000px;
        }

        @media(max-width: 1050px) {
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            margin-bottom: 20px;

            hr {
                width: 200%;
                position: relative;
                left: 0;
            }
        }
    }

    h2 {
        color: white;
        font-size: 90px;
        margin: 0;
        @media (max-width: 450px) {
            font-size: 64px;
        }
    }

    p {
        color: white;
        font-size: 16px;
        padding-left: 50px;

        @media(max-width: 1050px) {
            text-align: center;
            padding-left: 0;
        }
    }
}

.project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-left: 60px;
        margin-right: 60px;
        position: relative;
        z-index: 2;

        .single-project {
            position: relative;
            display: flex;
            transition: all 125ms ease-in-out;

            img {
                
                @media (max-width: 1340px) {
                    height: 400px;
                }

                @media (max-width: 500px) {
                    height: 300px;
                }
            }

            &:hover {
                img {
                    opacity: 0.5;
                    transition: all 125ms ease-in-out;
                }

                .mouse-over-dialog {
                    display: flex !important;
                }
            }
        }

        .mouse-over-dialog {
            display: none;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            height: 100%;
            width: 100%;

            .project-btns {
                display: flex;
                margin-bottom: 100px;
                gap: 50px;

                @media (max-width:1340px) {
                    margin-bottom: 10px;
                }

                button {
                    padding: 15px 30px;
                    color: white;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    font-size: 24px;
                    transition: all 125ms ease-in-out;

                    @media (max-width:500px) {
                        font-size: 16px;
                    }
                }

                .btn-github {
                    background-color: #141D2F;
                    border: solid 1px #00BEE8;

                    &:hover {
                        background-color: #00BEE8;
                        scale: 1.1;
                    }
                }

                .btn-live-test {
                    background-color: #4B47FF;

                    &:hover {
                        background-color: #00BEE8;
                        scale: 1.1;
                    }
                }
            }

            .project-info {
                background-color: whitesmoke;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                height: 400px;
                width: 100%;
                padding: 45px 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                text-align: center;

                h4 {
                    color: #4B47FF;
                    font-size: 32px;

                    @media (max-width:1340px) {
                        margin: 0;
                    }
                }

                p {
                    font-size: 24px;
                    margin: 0;
                }

                span {
                    color: #00BEE8;
                    font-size: 24px;
                }

                @media (max-width:1340px) {
                    height: 300px;
                }

                @media (max-width:500px) {
                    height: 200px;

                    h4 {
                        font-size: 24px;
                    }
                    p,span {
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .filter-links {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;

        @media(max-width:370px) {
            display: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            display: inline-block;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background: #4B47FF;
                transition: width .3s;
            }

            &:hover::after {
                width: 100%;
            }

            &:hover {
                cursor: pointer;
                color: #00BEE8;
                border-bottom: solid 3px;
                border-bottom: #4B47FF;
                transition: all 125ms ease-in-out;
            }
        }
    }

    .shadow-right {
        position: absolute;
        right: -370px;
        top: -400px;
    }

    .shadow-left {
        position: absolute;
        left: -500px;
        bottom: -300px;
        z-index: 1;

        @media(max-height:1000px){
            display: none;
        }
    }

    
}