.welcome-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #141D2F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-shadow {
    position: absolute;
    left: -230px;
}

.right-shadow {
    position: absolute;
    right: -450px;
}

.text-area {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    span {
        color: white;
    }

    h1 {
        font-size: 128px;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        font-size: 64px;
        color: #4B47FF;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (max-width:1050px) {
        h1 {
            font-size: 46px;
        }

        h2 {
            font-size: 32px;
        }
    }
}

.i-am {
    transform: rotate(-90deg);
    font-size: 90px;
}

.btn-talk {
    position: absolute;
    top: 700px;
    padding: 15px 30px;
    background-color: #00BEE8;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        scale: 1.1;
    }
}

