<div class="welcome-container max-wdth">
    <img class="right-shadow" src="assets/shadows/shadow_3.png">
    <img class="left-shadow" src="assets/shadows/shadow_4.png">
    <div class="text-area">
        <div class="i-am">
            <span>I am</span>
        </div>
        <div class="">
            <div>
                <h1>Philipp Mössl</h1>
                <h2>Frontend Developer</h2>
            </div>
            
        </div>

    </div>
    <div class="btn-container">
        <button (click)="goToAnchor('contact')" class="btn-talk">Let´s Talk</button>
    </div>


</div>